<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 id="grid-head" class='centered'>Literature</h1>
        <div id="grid-body">
            <div class='centered'>{{ extra_pre | safe }}</div>
            <br>
            <div class='flex'>
                <input style='width: 33%' id="input_title" placeholder="Title"></input>
                <input style='width: 33%' id="input_author" placeholder="Authors"></input>
                <input style='width: 33%' id="input_year" placeholder="Year"></input>
                <input style='width: 33%' id="input_journal" placeholder="Journal"></input>
                <input style='width: 33%' id="input_tags" placeholder="Tags"></input>
                <input style='width: 33%' id="input_synopsis" placeholder="Synopsis"></input>
            </div>
            <div class='flex'>
                {% for paper in literature %}
                <div class='book-entry card'>
                    <p>{{ paper['Title'] }} ({{ paper['Year'] }})</p>
                    <p class='marg-bot pad-bot de-emph border-bot'><em>by {{ paper['Authors'] | join(', ') }}</em></p>
                    <p class='de-emph pad-bot marg-bot border-bot'>{{ paper['Tags'] | join(', ') }}</p>
                    <p>{% if paper['Citation'] %}{{ paper['Citation'] }}
                    {% else %}No Citekey{% endif %}</p>
                    <p>{{ paper['Journal'] }}</p>
                    {%if paper['Synopsis'] %}
                    <ul>
                        {% for bullet in paper['Synopsis'] %}
                        <li>{{ bullet }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class='warning'>NEEDS READ</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <br>
            <div class='centered'>{{ extra_post | safe }}</div>
        </div>
        <div id="grid-foot"><a href="/help">HELP</a></div>
        <script type="text/javascript" src="{{ url_for('static', filename='lit_filter.js') }}"></script>
    </body>
</html>

